{
  "name": "todh-pug",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/tpl/partials/_nav-main.pug",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-pug\":{\"enabled\":true,\"pretty\":false}}"
    },
    {
      "path": "src/scss/Main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/Main.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "src/js/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/build.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "src/products.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"products.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/posts.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"posts.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/about.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"about.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/blog/post-1.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"post-1.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/blog/post-2.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"post-2.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/blog/post-3.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"post-3.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/blog/post-4.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"post-4.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/blog/post-5.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"post-5.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "src/blog/post-6.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"post-6.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "js",
      "src",
      "src/tpl/components",
      "src/blog"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": true
  },
  "imports": [
    {
      "path": "src/about.pug",
      "imports": [
        "src/tpl/_layout.pug",
        "src/tpl/components/_cover.pug",
        "src/tpl/components/_posts.pug",
        "src/tpl/_config.pug",
        "src/tpl/components/_brand.pug",
        "src/tpl/partials/_nav-main.pug",
        "src/tpl/components/_search.pug",
        "src/tpl/components/_languages.pug",
        "src/tpl/partials/_footer.pug",
        "src/_db/_features.pug",
        "src/tpl/lib/mixins/_svg-icon.pug",
        "src/_db/_posts.pug",
        "src/tpl/lib/mixins/input-search.pug",
        "src/tpl/components/_contact.pug"
      ]
    },
    {
      "path": "src/index.pug",
      "imports": [
        "src/tpl/_layout.pug",
        "src/tpl/components/_cover.pug",
        "src/tpl/components/_video.pug",
        "src/tpl/components/_product.pug",
        "src/tpl/_config.pug",
        "src/tpl/components/_brand.pug",
        "src/tpl/partials/_nav-main.pug",
        "src/tpl/components/_search.pug",
        "src/tpl/components/_languages.pug",
        "src/tpl/partials/_footer.pug",
        "src/_db/_features.pug",
        "src/tpl/lib/mixins/_svg-icon.pug",
        "src/_db/_products.pug",
        "src/tpl/lib/mixins/input-search.pug",
        "src/tpl/components/_contact.pug"
      ]
    },
    {
      "path": "src/posts.pug",
      "imports": [
        "src/tpl/_layout.pug",
        "src/tpl/components/_cover.pug",
        "src/tpl/components/_posts.pug",
        "src/tpl/_config.pug",
        "src/tpl/components/_brand.pug",
        "src/tpl/partials/_nav-main.pug",
        "src/tpl/components/_search.pug",
        "src/tpl/components/_languages.pug",
        "src/tpl/partials/_footer.pug",
        "src/_db/_features.pug",
        "src/tpl/lib/mixins/_svg-icon.pug",
        "src/_db/_posts.pug",
        "src/tpl/lib/mixins/input-search.pug",
        "src/tpl/components/_contact.pug"
      ]
    },
    {
      "path": "src/products.pug",
      "imports": [
        "src/tpl/_layout.pug",
        "src/tpl/components/_cover.pug",
        "src/tpl/components/_product.pug",
        "src/tpl/_config.pug",
        "src/tpl/components/_brand.pug",
        "src/tpl/partials/_nav-main.pug",
        "src/tpl/components/_search.pug",
        "src/tpl/components/_languages.pug",
        "src/tpl/partials/_footer.pug",
        "src/_db/_features.pug",
        "src/tpl/lib/mixins/_svg-icon.pug",
        "src/_db/_products.pug",
        "src/tpl/lib/mixins/input-search.pug",
        "src/tpl/components/_contact.pug"
      ]
    },
    {
      "path": "src/blog/post-1.pug",
      "imports": [
        "src/tpl/_layout.pug",
        "src/tpl/lib/mixins/_post.pug",
        "src/tpl/_config.pug",
        "src/tpl/components/_brand.pug",
        "src/tpl/partials/_nav-main.pug",
        "src/tpl/components/_search.pug",
        "src/tpl/components/_languages.pug",
        "src/tpl/partials/_footer.pug",
        "src/tpl/lib/mixins/input-search.pug",
        "src/tpl/components/_contact.pug"
      ]
    },
    {
      "path": "src/blog/post-2.pug",
      "imports": [
        "src/tpl/_layout.pug",
        "src/tpl/lib/mixins/_post.pug",
        "src/tpl/_config.pug",
        "src/tpl/components/_brand.pug",
        "src/tpl/partials/_nav-main.pug",
        "src/tpl/components/_search.pug",
        "src/tpl/components/_languages.pug",
        "src/tpl/partials/_footer.pug",
        "src/tpl/lib/mixins/input-search.pug",
        "src/tpl/components/_contact.pug"
      ]
    },
    {
      "path": "src/blog/post-3.pug",
      "imports": [
        "src/tpl/_layout.pug",
        "src/tpl/lib/mixins/_post.pug",
        "src/tpl/_config.pug",
        "src/tpl/components/_brand.pug",
        "src/tpl/partials/_nav-main.pug",
        "src/tpl/components/_search.pug",
        "src/tpl/components/_languages.pug",
        "src/tpl/partials/_footer.pug",
        "src/tpl/lib/mixins/input-search.pug",
        "src/tpl/components/_contact.pug"
      ]
    },
    {
      "path": "src/blog/post-4.pug",
      "imports": [
        "src/tpl/_layout.pug",
        "src/tpl/lib/mixins/_post.pug",
        "src/tpl/_config.pug",
        "src/tpl/components/_brand.pug",
        "src/tpl/partials/_nav-main.pug",
        "src/tpl/components/_search.pug",
        "src/tpl/components/_languages.pug",
        "src/tpl/partials/_footer.pug",
        "src/tpl/lib/mixins/input-search.pug",
        "src/tpl/components/_contact.pug"
      ]
    },
    {
      "path": "src/blog/post-5.pug",
      "imports": [
        "src/tpl/_layout.pug",
        "src/tpl/lib/mixins/_post.pug",
        "src/tpl/_config.pug",
        "src/tpl/components/_brand.pug",
        "src/tpl/partials/_nav-main.pug",
        "src/tpl/components/_search.pug",
        "src/tpl/components/_languages.pug",
        "src/tpl/partials/_footer.pug",
        "src/tpl/lib/mixins/input-search.pug",
        "src/tpl/components/_contact.pug"
      ]
    },
    {
      "path": "src/blog/post-6.pug",
      "imports": [
        "src/tpl/_layout.pug",
        "src/tpl/lib/mixins/_post.pug",
        "src/tpl/_config.pug",
        "src/tpl/components/_brand.pug",
        "src/tpl/partials/_nav-main.pug",
        "src/tpl/components/_search.pug",
        "src/tpl/components/_languages.pug",
        "src/tpl/partials/_footer.pug",
        "src/tpl/lib/mixins/input-search.pug",
        "src/tpl/components/_contact.pug"
      ]
    },
    {
      "path": "src/js/app.js",
      "imports": [
        "src/js/popup.js",
        "src/js/main-nav.js"
      ]
    },
    {
      "path": "src/scss/Main.scss",
      "imports": [
        "src/scss/_Framework/_Index.scss",
        "src/scss/_Variables.scss",
        "src/scss/Utilities/_Animations.scss",
        "src/scss/Utilities/_Brand.scss",
        "src/scss/Utilities/_Icons.scss",
        "src/scss/Utilities/_Display.scss",
        "src/scss/Utilities/_Layout.scss",
        "src/scss/Utilities/_Spacings.scss",
        "src/scss/Utilities/_Typography.scss",
        "src/scss/Utilities/_Widths.scss",
        "src/scss/Atoms/_Alert.scss",
        "src/scss/Atoms/_Base.scss",
        "src/scss/Atoms/_Button.scss",
        "src/scss/Atoms/_Code.scss",
        "src/scss/Atoms/_Form.scss",
        "src/scss/Atoms/_Heading.scss",
        "src/scss/Atoms/_Input.scss",
        "src/scss/Atoms/_Label.scss",
        "src/scss/Atoms/_Link.scss",
        "src/scss/Atoms/_List.scss",
        "src/scss/Atoms/_Media.scss",
        "src/scss/Atoms/_Quote.scss",
        "src/scss/Atoms/_Ruler.scss",
        "src/scss/Atoms/_Table.scss",
        "src/scss/Atoms/_Typography.scss",
        "src/scss/Molecules/_ButtonGroup.scss",
        "src/scss/Molecules/_Flag.scss",
        "src/scss/Molecules/_FlexibleEmbed.scss",
        "src/scss/Molecules/_Form.scss",
        "src/scss/Molecules/_Grid.scss",
        "src/scss/Molecules/_Media.scss",
        "src/scss/Molecules/_Navigation.scss",
        "src/scss/Molecules/_Spinner.scss",
        "src/scss/Molecules/_Table.scss",
        "src/scss/Organisms/_SiteHeader.scss",
        "src/scss/Organisms/_SiteBrand.scss",
        "src/scss/Organisms/_SiteFooter.scss",
        "src/scss/Components/_SiteCover.scss",
        "src/scss/Components/_SiteNavigation.scss",
        "src/scss/Components/_Post.scss",
        "src/scss/Components/_Posts.scss",
        "src/scss/Components/_Product.scss",
        "src/scss/Components/_Products.scss",
        "src/scss/Components/_Video.scss",
        "src/scss/Components/_Marcas.scss",
        "src/scss/Components/_Contact.scss",
        "src/scss/Components/_Languages.scss",
        "src/scss/Components/_Searchform.scss",
        "src/scss/Templates/_Print.scss",
        "src/scss/_Framework/_Functions.scss",
        "src/scss/_Framework/_Mixins.scss",
        "src/scss/_Framework/_MediaQueries.scss",
        "src/scss/_Framework/_Head.scss",
        "src/scss/_Framework/_Normalize.scss"
      ]
    },
    {
      "path": "src/tpl/_layout.pug",
      "imports": [
        "src/tpl/_config.pug",
        "src/tpl/components/_brand.pug",
        "src/tpl/partials/_nav-main.pug",
        "src/tpl/components/_search.pug",
        "src/tpl/components/_languages.pug",
        "src/tpl/partials/_footer.pug",
        "src/tpl/lib/mixins/input-search.pug",
        "src/tpl/components/_contact.pug"
      ]
    },
    {
      "path": "src/scss/_Framework/_Index.scss",
      "imports": [
        "src/scss/_Framework/_Functions.scss",
        "src/scss/_Framework/_Mixins.scss",
        "src/scss/_Framework/_MediaQueries.scss",
        "src/scss/_Framework/_Head.scss",
        "src/scss/_Framework/_Normalize.scss"
      ]
    },
    {
      "path": "src/tpl/components/_cover.pug",
      "imports": [
        "src/_db/_features.pug"
      ]
    },
    {
      "path": "src/tpl/components/_departments.pug",
      "imports": [
        "src/_db/_departments.pug"
      ]
    },
    {
      "path": "src/tpl/components/_posts.pug",
      "imports": [
        "src/_db/_posts.pug"
      ]
    },
    {
      "path": "src/tpl/components/_product.pug",
      "imports": [
        "src/_db/_products.pug"
      ]
    },
    {
      "path": "src/tpl/components/_search.pug",
      "imports": [
        "src/tpl/lib/mixins/input-search.pug"
      ]
    },
    {
      "path": "src/tpl/layouts/_post.pug",
      "imports": [
        "src/tpl/_layout.pug",
        "src/_db/_posts.pug",
        "src/tpl/_config.pug",
        "src/tpl/components/_brand.pug",
        "src/tpl/partials/_nav-main.pug",
        "src/tpl/components/_search.pug",
        "src/tpl/components/_languages.pug",
        "src/tpl/partials/_footer.pug",
        "src/tpl/lib/mixins/input-search.pug",
        "src/tpl/components/_contact.pug"
      ]
    },
    {
      "path": "src/tpl/partials/_footer.pug",
      "imports": [
        "src/tpl/components/_contact.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}