/*
 * Marcas
 */
.Marcas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: $gray_lighter;
    padding-top: $spacing_base;
    @include max-screen($small) {}

    &__title {
        text-align: center;
        flex: 1 100%;
        margin-bottom: 0;
    }

    &Item {
      margin: 0;
      text-align: center;
      @include min-screen(600px) {
        padding-left: $spacing_base / 2;
        padding-right: $spacing_base / 2;
      }
        @include max-screen($small) {
            &:nth-child(2) {
                margin-right: $spacing_base / 2;
            }
        }
    }

    li {
        list-style: none;
    }
}
