/*
 * Site Product
 * SINGLE PRODUCT
 */

 .Product {
  width: 100%;
  padding-top: $spacing_base * 2;

  @include max-screen($small) {
    padding-top: $spacing_base * 3;
    header img {
      padding-top: $spacing_base * 2;
    }
  }


  &Nav {
    margin-left: $spacing_base;
    width: 150px;
    // display: flex;
    a {
      // display: inline;
    }
  }

  // &Header {
  //   // width: 100%;
  //   max-height: 750px;
  //   overflow: hidden;
  // }

  // &Breadcrumb {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  //   position: fixed;
  //   height: $spacing_base * 3;
  //   color: $white;
  //   background-color: $gray_light;
  // }

  // Product List
  &List {
    padding-top: $spacing_base;
    background-color: $gray_light;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__title {
      flex: 1 100%;
      padding-bottom: $spacing_base;
      text-align: center;
    }

    &__item {
      flex: 1 275px;
      margin-left: $spacing_base;
      margin-right: $spacing_base;
      margin-bottom: $spacing_base * 2;

      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9),
      &:nth-child(12) {
        // margin-right: 0
      }
    }

    // Product List - Details
    &Details {
      // margin-top: $spacing_base;
      background-color: $white;
    }
  }

  // Item Product Detail
  &Detail {
    margin-top: $spacing_base / 2;
    background-color: $gray_lighter;
    padding: $spacing_base / 2;
    text-align: center;
    color: $gray_light;

    &--title {
      letter-spacing: -.5px;
      font-size: 1.3em;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }
    li {
      display: inline-flex;
    }
  }

  h2 {
    text-align: center;
  }
  // &:first-child {
  //   img {
  //     margin-left: 100px;
  //   }
  // }
  // &:nth-child(2) {
  //   img {
  //     margin-right: 50px;
  //   }
  // }
}
