/*
 * Cover
 */
.Cover {
    background-color: $gray_light;
    width: 100%;
    background-image: url('../assets/images/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
				flex-wrap: wrap;
    position: relative;
    padding-top: $spacing_base * 3;
    margin-top: $spacing_base * 3;
    @include min-screen($small+10) {
        padding-top: 0;
        margin-top: $spacing_base * 2;
        align-items: center;
        justify-content: center;
        // flex-direction: column;
    }
    @include min-screen($big) {
        // background-size: cover;
        background-position: 0;
    }

    &Features {
        padding: $spacing_base;
        color: $black;
        background-color: rgba($brand_color2,.5);
        letter-spacing: -1px;
        text-align: center;
        margin-top: $spacing_base * 2;
        @include max-screen($small) {}

        &--item {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            &:nth-child(2) {
                margin-top: $spacing_base / 2;
                margin-bottom: $spacing_base / 2;
            }

            h3 {
                margin-left: 0;
                // max-width: 240px;
            }
        }
    }
}
