/*
 * Cover
 */
.Cover {
    background-color: $gray_light;
    width: 100%;
    background-image: url('../assets/images/cover.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    color: $white;
    display: flex;
    position: relative;
    padding-top: $spacing_base * 3;
    margin-top: $spacing_base * 3;
    @include min-screen($small+10) {
        padding-top: 0;
        margin-top: $spacing_base * 2;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: column;
        background-size: cover;
        background-position: -100px 0;
    }
    @include min-screen($big) {
        background-size: cover;
        background-position: 0;
    }

    &Features {
        padding: $spacing_base;
        color: $gray_light;
        background-color: rgba($white,1);
        letter-spacing: -1px;
        text-align: center;
        margin-top: $spacing_base * 2;
        @include max-screen($small) {
            background-color: $white;
        }

        &--item {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            &:nth-child(2) {
                margin-top: $spacing_base / 2;
                margin-bottom: $spacing_base / 2;
            }

            h3 {
                margin-left: $spacing_base / 2;
                max-width: 240px;
            }
        }
    }
}
