//- CONFIG VARIABLES
- Language = 'es'
- PageTitle = 'TODH'
- PageDescription = 'Page Description'
- MetaDesc = 'TODH -> HTML Prototype'
- Author = 'Sergio Forés'
- GoogleFonts = false
//- - GoogleFonts = 'Roboto+Condensed:700,300'
