//- CONFIG VARIABLES
- Language = 'es'
- PageTitle = 'TODH'
- PageDescription = 'Page Description'
- MetaDesc = 'TODH -> HTML Prototype'
- Author = 'Sergio Forés'
- AuthorBrief = 'I heart modular design systems + designing in the browser while building interfaces that are usable and accessible to all.'
- GoogleFonts = false
- AnalyticsCode = ''
//- - GoogleFonts = 'Roboto+Condensed:700,300'
