//- CONFIG VARIABLES
- Language = 'es'
- PageTitle = 'TODH'
- PageDescription = 'Protege, conserva y decora la madera'
- MetaDesc = 'Protege, conserva y decora la madera'
- Author = 'Sergio Forés'
- GoogleFonts = false
//- - GoogleFonts = 'Roboto+Condensed:700,300'
