/**
 * Headings
 */

/*
 * The base class for all headings.
 */
@mixin h() {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: $bold; //$bold $thin

  // Optimized kerning for large font sizes.
  // Use this only on large font-sizes (f.e. headings) to avoid performance issues.
  text-rendering: optimizeLegibility;
}
.h, %h {
  @include h();
}

/*
 * Heading modifiers
 * Styles the heading without changing it's importance for SEO robots etc.
 */
@mixin h1() {
  font-size: 35px;
  line-height: 1.3;
  @include max-screen($small) {
    line-height: 1.2;
  }

  @extend %h;
}
@mixin h2() {
  font-size: 35px;
  letter-spacing: -.5px;
		line-height: 1.2;
  @include max-screen($small) {
    letter-spacing: -1px;
    line-height: 1;
  }

  @extend %h;
}
@mixin h3() {
  font-size: 24px;
  letter-spacing: -.5px;
  line-height: 1.2;

  @extend %h;
}
@mixin h4() {
  font-size: 20px;
  font-weight: 200;

  @extend %h;
}
@mixin h5() {
  font-size: 16px;
  font-weight: $regular;

  @extend %h;
}
@mixin h6() {
  font-size: 14px;
  font-weight: $regular;
  text-transform: uppercase;

  @extend %h;
}

h1, .h1 {
  @include h1();
}
h2, .h2 {
  @include h2();
}
h3, .h3 {
  @include h3();
}
h4, .h4 {
  @include h4();
}
h5, .h5 {
  @include h5();
}
h6, .h6 {
  @include h6();
}
