-
  departments = [
    {
      name: "Exportacion",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/image.jpg"
    }, {
      name: "Comercial",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/image.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/image.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/image.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/image.jpg"
    }
  ];
