-
    var features = [
        {
            title: "Everything what matters, now",
            description: "xx",
            svg_icon: "icon-cor"
        }, {
            title: "Live prototyping",
            description: "",
            svg_icon: "icon-mountain"
        }, {
            title: "Holistic Evolution",
            description: "xxx",
            svg_icon: "icon-mountain"
        }
    ];
