-
    var features = [
        {
            title: "Everything what matters, now",
            description: "xx",
            icon: "cor"
        }, {
            title: "Live prototyping",
            description: "",
            icon: "logo"
        }, {
            title: "Holistic Evolution",
            description: "xxx",
            icon: "cara"
        }
    ];
