-
    var posts = [
        {
            name: "Post 1",
            color: "Nature",
            description: "Description of the post",
            size: "12x13x23cm",
            ref: "0099999945BO",
            link_url: "./post-1.html",
            image_url: "assets/images/post_main.jpg"
        }, {
            name: "Post 2",
            color: "Nature",
            description: "Description of the post",
            size: "12x13x23cm",
            link_url: "./post-2.html",
            ref: "002345BO",
            image_url: "assets/images/default_img.jpg"
        }, {
            name: "Post 3",
            color: "Nature",
            description: "Description of the post",
            size: "12x13x23cm",
            link_url: "./post-3.html",
            ref: "002345BO",
            image_url: "assets/images/default_img.jpg"
        }, {
            name: "Post 4",
            color: "Nature",
            description: "Description of the post",
            size: "12x13x23cm",
            link_url: "./post-4.html",
            ref: "002345BO",
            image_url: "assets/images/default_img.jpg"
        }, {
            name: "Post 5",
            color: "Nature",
            description: "Description of the post",
            size: "12x13x23cm",
            link_url: "./post-5.html",
            ref: "002345BO",
            image_url: "assets/images/default_img.jpg"
        }, {
            name: "Post 6",
            color: "Nature",
            description: "Description of the post",
            size: "12x13x23cm",
            link_url: "./post-6.html",
            ref: "002345BO",
            image_url: "assets/images/default_img.jpg"
        }
    ];
