-
  var products = [
    {
      title: "Full-fidelity, feature complete, clickable HTML prototype",
      description: "I have merged the concept of a style guide and a prototype into a single, unified product for all design exploration to take place. As the prototype evolves, so too does the style guide, because they rely on each other. Our prototype offers a huge number of advantages over other prototyping methods.",
      image_url: "./assets/images/product.jpg"
    }, {
      title: "When usertesting, you see how users really interact with it.",
      description: "Less questions and meetings with stakeholders, clients, engineers = Time saved = Money saved.",
      image_url: "./assets/images/product.jpg"
    }, {
      title: "The end of creating hundreds of artboards. Now you only have one canvas, the browser – and it’s interactive by default.",
      description: "Animation is no longer an afterthought. You actually think more about how a hover state should animate, or how you can solve the problems better with interaction.",
      image_url: "./assets/images/product.jpg"
    }, {
      title: "What you see is what you get",
      description: "You can easily iterate on your design without having an engineer to help you. You see something that’s looking off? You can fix it right away.",
      image_url: "./assets/images/product.jpg"
    }, {
      title: "The problem, that we as designers are still making static designs for an interactive experience.",
      description: "Animation is no longer an afterthought. You actually think more about how a hover state should animate, or how you can solve the problems better with interaction.",
      image_url: "./assets/images/product.jpg"
    }, {
      title: "Speed and Confidence",
      description: "We can create both the parts and the whole of a UI design system concurrently",
      image_url: "./assets/images/product.jpg"
    }, {
      title: "Nos acercamos al resultado mediante la experimentación.",
      description: "Ideal para proyectos de investigación en los que no podemos anticipar cual va a ser el resultado. Proyectos que necesitan mucha creatividad.",
      image_url: "./assets/images/product.jpg"
    }, {
      title: "Faster Outcomes",
      description: "By working directly in the browser, we bypass a number of steps and expedite our design process. This allows us to make confident decisions, faster.",
      image_url: "assets/images/product.jpg"
    }, {
      title: "Bridging the gap between design, engineering & Users",
      description: "Animation is no longer an afterthought. You actually think more about how a hover state should animate, or how you can solve the problems better with interaction.",
      image_url: "assets/images/product.jpg"
    }, {
      title: "The Source of Truth for Our Product",
      description: "It replaces the need for detailed specification documents or lengthy conversations about intentions. Plus, by working directly in the browser, we are able to present work in the final medium much sooner in the process.",
      image_url: "assets/images/product.jpg"
    }
  ];
