-
  var products = [
    {
      name: "Joder Eleven",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/images/product.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/images/product.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/images/product.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/images/product.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/images/product.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/images/product.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/images/product.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "./assets/images/product.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "assets/images/product.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Daphne",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "assets/images/product.jpg"
    }, {
      name: "Pirates of the Caribbean",
      color: "Nature",
      category: "Alida",
      collection: "Armarios",
      size: "12x13x23cm",
      ref: "002345BO",
      image_url: "assets/images/product.jpg"
    }
  ];
