input.ContactBtn(type="button" value="Contact Button")

.Contact--form
    input(type="text" placeholder="input text")

    form(action="https://formspree.io/sergiofores@gmail.com", method="POST")
        .form-group
            label(for="Name") Name
            input(type="text", aria-describedby="name", name="name").form-control#name
        .form-group
            label(for="Email") Email address
            input(type="email", name="_replyto", aria-describedby="emailHelp").form-control#email
            small.form0-text.text-muted We'll never share your email with anyone else
        .form-group
            label(for="Phone Number") Phone Number
            input(type="tel", aria-describedby="tel", name="tel").form-control#name
        .form-group
            label(for="Message") Message
            textarea(rows="3", aria-describedby="message", name="msg").form-control#name
        button(type="submit", value="Send").btn.btn-success.mb-3 Submit
