include ../../_db/_features.pug
include ../lib/mixins/_svg-icon.pug

mixin cover-feature(feature)
    .CoverFeatures--item
        h3=feature.title
            +svg-icon(feature.icon)

section.Cover
    aside.CoverFeatures
        for feature in features
            +cover-feature(feature)
