- f1 = "Feature 1"
- f2 = "Feature 2"
- f3 = "Feature 3"


section.Cover
    aside.CoverFeatures
        .CoverFeatures--item
            a(href="index.html" class="siteBrand__logo")
                svg(class="icon iconSpain")
                    use(xlink:href="assets/icons.svg#icon-spain")
                        h3 #{f1}
        .CoverFeatures--item
            a(href="index.html" class="siteBrand__logo")
                svg(class="icon iconPalet")
                    use(xlink:href="assets/icons.svg#icon-palet")
                        h3 #{f2}
        .CoverFeatures--item
            a(href="index.html" class="siteBrand__logo")
                svg(class="icon iconPefc")
                    use(xlink:href="assets/icons.svg#icon-pefc")
                        h3 #{f3}
