include ../../_db/_features.pug

mixin cover-feature(feature)
    .CoverFeatures--item
        h3=feature.title
            a(href="index.html" class="siteBrand__logo")
                svg(class="icon iconSpain")
                    use(xlink:href="assets/icons.svg#icon-cor")

section.Cover
    aside.CoverFeatures
        for feature in features
            +cover-feature(feature)
