include ../../_db/_products.pug

mixin product-card(product)
    section.ProductSection
        h2.productTitle= product.title
        div.detail
            p= product.description

for product in products
    +product-card(product)
