/**
 * TodhCSS - A Starter Sass-Kit which embraces OOCSS, BEM and the Atomic Design-Approach.
 * @version 1.3.2
 * @see https://t-o-d-h.com/
 */
@import url("https://fonts.googleapis.com/css?family=Six+Caps");
/**
 * Declarations which should be put at the top of the document e.g. @font-face declarations and CSS viewports.
 */
/*
 * Global border-box
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * Normalize
 *
 * A cut-down version of normalize.css
 * @author Nicolas Gallagher
 * @link http://necolas.github.com/normalize.css/
 */
article,
aside,
details,
figcaption,
figure,
main,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

[hidden] {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  /* 2 */ }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

optgroup {
  font-weight: bold; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  /* 3 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Collection of CSS3 Keyframe Animations.
 */
/*
 * Scales the element up to it's initial proportions and fades it into the viewport.
 */
@-webkit-keyframes ScaledUpFadeIn {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
@keyframes ScaledUpFadeIn {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

.u-aniScaledUpFadeIn {
  -webkit-animation: ScaledUpFadeIn 0.3s both;
  animation: ScaledUpFadeIn 0.3s both; }

/*
 * Moves the element from the top into the users viewport.
 */
@-webkit-keyframes FlyDown {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@keyframes FlyDown {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.u-aniFlyDown {
  -webkit-animation: FlyDown 0.3s both;
  animation: FlyDown 0.3s both; }

/*
 * Moves the element from the bottom out of the users viewport.
 */
@-webkit-keyframes FlyUpOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; } }
@keyframes FlyUpOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0; } }

.u-aniFlyUpOut {
  pointer-events: none;
  -webkit-animation: FlyUpOut 0.3s both;
  animation: FlyUpOut 0.3s both; }

/*
 * Pulsates(fade out and in) an element.
 */
@-webkit-keyframes Pulsate {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes Pulsate {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.u-aniPulsate {
  -webkit-animation: Pulsate 0.3s infinite both;
  animation: Pulsate 0.3s infinite both; }

@media screen and (max-width: 800px) {
  .textologo {
    display: none; }
  .enanito {
    -webkit-transform: translate(30px, -13px) scale(1.6);
    -ms-transform: translate(30px, -13px) scale(1.6);
    transform: translate(30px, -13px) scale(1.6); } }

.iconClose {
  height: 26px;
  stroke: white;
  stroke-width: 3px; }
  @media screen and (max-width: 768px) {
    .iconClose {
      height: 36px; } }

.iconLogo {
  height: 46px;
  fill: rgba(252, 196, 154, 0.5); }
  @media screen and (max-width: 768px) {
    .iconLogo {
      height: 100px; } }

.iconLupa {
  fill: none;
  stroke: #F6F5F5;
  stroke-width: 1px;
  width: 27px;
  height: 27px;
  margin-right: 10px; }

.iconLogo--line {
  height: 60px;
  max-width: 230px; }

.iconArrow {
  width: 60px;
  height: 50px;
  fill: none;
  stroke-width: 6px; }
  .iconArrow--next {
    stroke: white; }
  .iconArrow--prev {
    stroke: gray; }

.iconPalet {
  stroke: black; }

.iconPefc {
  fill: none;
  stroke: black;
  stroke-width: .5px; }

.iconSpain {
  fill: none;
  stroke: black;
  stroke-width: .5px; }

.iconArkit {
  width: 200px; }

.iconHabit {
  width: 100px; }

.iconBrico {
  width: 170px; }

.iconPefc,
.iconPalet,
.iconSpain {
  width: 100px;
  height: 100px; }

/**
 * Display utilities
 */
/*
 * Display the target as an block element.
 */
.u-isBlock {
  display: block !important; }

/*
 * Hide from both screenreaders and browsers: http://www.h5bp.com/u
 */
.u-isHidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide visually and from screenreaders, but maintain layout.
 */
.u-isInvisible {
  visibility: hidden; }

/**
 * Layout utilities
 */
/*
 * Floats the element to the right boundary.
 */
.u-floatRight {
  float: right; }

/*
 * Floats the element to the left boundary.
 */
.u-floatLeft {
  float: left; }

/*
 * Clearfix for floated elements.
 */
.u-cf:before, .u-cf:after,
.u-clearfix:before,
.u-clearfix:after {
  content: '';
  display: table; }

.u-cf:after,
.u-clearfix:after {
  clear: both; }

/**
 * Typographic utilities
 */
/*
 * Centers the text.
 */
.u-alignCenter {
  text-align: center; }

/*
 * Aligns the text to the right boundary.
 */
.u-alignRight {
  text-align: right; }

/*
 * Aligns the text to the left boundary.
 */
.u-alignLeft {
  text-align: left; }

/*
 * Reduces the font-size to the smallest value.
 */
.u-tinyText {
  font-size: 0.83333rem; }

/*
 * Enlarges the font-size to the smallest value.
 */
.u-largeText {
  font-size: 1.33333rem; }

/*
 * Break strings/text if it exceeds the boundaries of their container.
 */
.u-textBreak {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

/*
 * Inverts the text on the element and it's siblings.
 */
.u-invertText,
.u-invertText h1, .u-invertText h2, .u-invertText h3,
.u-invertText h4, .u-invertText h5, .u-invertText h6 {
  color: white; }

/*
 * Removes all standard stylings for a list element and it's siblings.
 */
.u-resetList {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

/*
 * Removes all standard stylings for an anchor/link element.
 */
.u-linkReset {
  color: currentColor; }
  .u-linkReset:hover, .u-linkReset:active, .u-linkReset:focus {
    text-decoration: none; }
  p .u-linkReset {
    padding: 0;
    margin: 0; }

/**
 * Alert
*/
/*
 * The base class for all alerts.
 */
.alert {
  padding: 0.72222em;
  margin-bottom: 1.44444em;
  border-radius: 2px;
  background-color: #777;
  color: white; }
  .alert :last-child {
    margin-bottom: 0; }

/*
 * Display a positive / success alert to the user.
 */
.alert--success {
  background-color: #8CD700;
  color: white; }

/*
 * Display a negative / failure alert to the user.
 */
.alert--failure {
  background-color: #D75200;
  color: white; }

/**
 * Base and high-level wrapper elements
 */
html.overflow {
  overflow: hidden; }

body {
  margin: 0;
  font: 400 112.5%/1.44444 Arial, Helvetica Neue, Helvetica, sans-serif;
  text-align: left;
  color: #787878;
  background: #fff; }

.siteWrapper {
  position: relative;
  width: 80%;
  max-width: 66.66667em;
  margin-left: auto;
  margin-right: auto; }

/**
 * Buttons
*/
/*
 * The base class for all buttons.
 */
.btn {
  display: inline-block;
  padding: .8em 1.5em;
  border: 1px solid currentColor;
  background: 0;
  border-radius: 2px;
  cursor: pointer;
  font-weight: normal;
  line-height: 1;
  color: #777;
  vertical-align: top;
  transition: all 0.3s ease; }
  .btn, .btn:hover {
    text-decoration: none; }
  .btn:hover {
    background: #777;
    border-color: #777;
    color: white; }

/*
 * Set the button width to the width of it's parent element.
 */
.btn--full {
  display: block;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  width: 100%; }

/*
 * Set the button width to the width of it's parent element.
 */
.btn--invert {
  color: white; }
  .btn--invert:hover {
    background: white;
    border-color: white;
    color: #777; }

/*
 * Visualize the disabled state of the button.
 */
.btn--disabled,
.btn[disabled] {
  color: #787878;
  pointer-events: none;
  opacity: .5; }

/*
 * Visualize the positive purpose/action of the button.
 */
.btn--positive {
  color: #8CD700; }
  .btn--positive:hover {
    background: #8CD700;
    border-color: #8CD700; }

/*
 * Visualize the negative purpose/action of the button.
 */
.btn--negative {
  color: #D75200; }
  .btn--negative:hover {
    background: #D75200;
    border-color: #D75200; }

/**
 * Code & pre-formatted text elements
 */
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: .8em; }

code {
  background: #f2f2f2;
  padding: .3em .5em;
  border-radius: 2px; }
  pre code {
    padding: 0; }

pre {
  white-space: pre-wrap;
  margin: 0 0 1.44444em; }

/**
 * Form
 */
/*
 * Form wrapper elements
 */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/**
 * Headings
 */
/*
 * The base class for all headings.
 */
.h, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 700;
  text-rendering: optimizeLegibility; }

/*
 * Heading modifiers
 * Styles the heading without changing it's importance for SEO robots etc.
 */
h1, .h1 {
  font-size: 35px;
  line-height: 1.3; }
  @media screen and (max-width: 375px) {
    h1, .h1 {
      line-height: 1.2; } }

h2, .h2 {
  font-size: 35px;
  letter-spacing: -.5px;
  line-height: 1.2; }
  @media screen and (max-width: 375px) {
    h2, .h2 {
      letter-spacing: -1px;
      line-height: 1; } }

h3, .h3 {
  font-size: 24px;
  letter-spacing: -.5px;
  line-height: 1.2; }

h4, .h4 {
  font-size: 20px;
  font-weight: 200; }

h5, .h5 {
  font-size: 16px;
  font-weight: 400; }

h6, .h6 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

/**
 * Form inputs
 */
/*
 * Base styling for form input fields.
 */
textarea {
  height: auto;
  min-height: 78px;
  resize: vertical;
  overflow: auto;
  vertical-align: top; }

input::-webkit-datetime-edit {
  margin-top: -.17em;
  margin-bottom: -.17em; }

input[type="checkbox"], input[type="radio"] {
  margin-right: .35em;
  cursor: pointer; }

input[type="search"] {
  color: white;
  background-color: transparent;
  border: none; }

/*
 * The base class for all textInputs.
 */
.textInput {
  height: 39px;
  padding: .2em .5em;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(230, 230, 230, 0.4);
  font-size: 0.77778rem;
  color: #858585; }

/*
 * Disabled state for inputs.
 */
.textInput[disabled],
.textInput--disabled {
  opacity: .5;
  pointer-events: none; }

/*
 * Positive validated state for inputs.
 */
.textInput--success {
  border-color: #8CD700; }

/*
 * Negative validated state for inputs.
 */
.textInput--failure {
  border-color: #D75200; }

/**
 * Form elements
 */
/*
 * Base styling for all labels.
 */
label {
  display: block;
  font-weight: 400;
  font-size: 0.77778rem; }
  label[for] {
    cursor: pointer; }

/*
 * Base styling for all legends.
 */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.44444em;
  border-bottom: 1px solid #e6e6e6;
  font-size: 1.22222rem; }

/**
 * Anchors
 */
/*
 * Base styling for all anchors/links.
 */
a {
  color: #777;
  text-decoration: none;
  background: transparent; }
  a:active, a:hover {
    outline: 0; }
  p a {
    position: relative;
    margin: -.33em;
    padding: .33em; }

/**
 * Lists
 */
menu,
ol,
ul {
  padding: 0 0 0 2.22222em;
  margin: 0 0 1.44444em; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Definitions
 */
dl {
  margin: 0 0 1.44444em; }

/*
 * Displays the definition element in a horizontal order.
 */
.dl--horizontal:before, .dl--horizontal:after {
  content: '';
  display: table; }

.dl--horizontal:after {
  clear: both; }

.dl--horizontal dt {
  width: 19%;
  float: left;
  overflow: hidden;
  clear: left;
  text-align: right;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.dl--horizontal dd {
  margin-left: 21%; }

/**
 * Media elements
 */
embed,
iframe,
object,
img {
  max-width: 100%;
  border: 0; }

img {
  font-style: italic;
  vertical-align: middle; }
  img[height] {
    height: auto; }

figure {
  margin: 0; }

figcaption {
  font-size: 0.88889rem; }

audio,
video,
iframe {
  margin: 0 0 1.44444em; }

audio {
  min-width: 65%; }
  audio:not([controls]) {
    display: none;
    height: 0; }

svg:not(:root) {
  overflow: hidden; }

/**
 * Quotes
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote {
  margin: 0 0 1.44444em; }

/**
 * Rulers
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  height: 0;
  padding: 0;
  margin: 2.88889em 0 2.88889em;
  border: 0;
  border-top: 1px solid #e6e6e6; }

/**
 * Tables
 */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: left;
  vertical-align: bottom; }

td {
  vertical-align: top; }

/**
 * Typographic elements
 */
p {
  margin: 0 0 1.44444em; }

b,
strong {
  font-weight: 700; }

small {
  font-size: 80%; }

abbr[title] {
  border-bottom: 1px dotted;
  cursor: help; }

mark {
  padding-left: .2em;
  padding-right: .2em;
  background: #777;
  color: white; }

dfn {
  font-style: italic; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/**
 * Button group
 * Displays a set of buttons in a group.
 */
.btnGroup:before, .btnGroup:after {
  content: '';
  display: table; }

.btnGroup:after {
  clear: both; }

.btnGroup__btn {
  float: left;
  border-radius: 0;
  border-right: 0; }
  .btnGroup__btn:first-child {
    border-radius: 2px 0 0 2px; }
  .btnGroup__btn:last-child {
    border-radius: 0 2px 2px 0;
    border-right: 1px solid; }

/**
 * Flag - Displays text like content vertically centered besides an image.
 */
/*
 * The base class for the Flag wrapper.
 */
.flag {
  display: table;
  width: 100%; }

/*
 * The image wrapper cell.
 */
.flag__image {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px; }
  .flag__image > img {
    display: block;
    max-width: none; }

.flag__image--rev {
  padding-right: 0;
  padding-left: 10px; }

/*
 * The content wrapper cell.
 */
.flag__body {
  display: table-cell;
  vertical-align: middle;
  width: 100%; }
  .flag__body,
  .flag__body > :last-child {
    margin-bottom: 0; }

/**
 * Embed a external iframe or media file with a fluid width/height ratio.
 */
/*
 * The base class for all embed containers.
 */
.flexibleEmbed {
  position: relative;
  display: block;
  overflow: hidden; }

/*
 * The class for the embedded content.
 */
.flexibleEmbed__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
 * The class for the desired width/height ratio. Default ratio is 1:1.
 */
.flexibleEmbed__ratio {
  display: block;
  width: 100%;
  padding-bottom: 100%; }

.flexibleEmbed__ratio--16\/9 {
  padding-bottom: 56.25%; }

.flexibleEmbed__ratio--3\/1 {
  padding-bottom: 33.333%; }

.flexibleEmbed__ratio--2\/1 {
  padding-bottom: 50%; }

.flexibleEmbed__ratio--4\/3 {
  padding-bottom: 75%; }

/**
 * Form
 */
/*
 * The base class for all forms.
 */
.form {
  margin-bottom: 1.44444rem; }

.form__item {
  margin-bottom: 0.72222rem; }

/*
 * Display a `<form>` and all it's content in a horizontal order.
 */
.form--inline label,
.form--inline button,
.form--inline input,
.form--inline select,
.form--inline textarea,
.form--inline .form__item {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle; }

.form--inline .form__item {
  margin-right: 1em; }

.form--inline label {
  margin-right: .3em; }

/**
 * Grids
 */
/*
 * Grid object which is based on the util width classes.
 */
.g,
.grid {
  margin-left: -10px;
  margin-right: -10px; }
  .g:before, .g:after,
  .grid:before,
  .grid:after {
    content: '';
    display: table; }
  .g:after,
  .grid:after {
    clear: both; }

/*
 * Grid item, floats itself into the grid and depends on the u-w#/# util classes.
 */
.gi,
.grid__item {
  float: left;
  padding-left: 10px;
  padding-right: 10px; }

/**
 * Media
 */
/*
 * The base class for all media elements.
 */
.media {
  display: block; }
  .media:before, .media:after {
    content: '';
    display: table; }
  .media:after {
    clear: both; }

/*
 * The class for the floated media element.
 */
.media__img {
  float: left;
  margin-right: 1.44444em; }
  .media__img > img {
    display: block; }

/*
 * Reverts the order of the elements.
 */
.media__img--rev {
  float: right;
  margin-left: 1.44444em;
  margin-right: 0; }

.media__img--compact {
  margin-right: 0.72222em; }
  .media__img--compact.media__img--rev {
    margin-left: 0.72222em;
    margin-right: 0; }

/*
 * The class for the content beside the media element.
 */
.media__body {
  overflow: hidden;
  display: block; }
  .media__body,
  .media__body > :last-child {
    margin-bottom: 0; }

/**
 * Navigations
 */
/*
 * Throws a list into horizontal mode.
 */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .nav > li {
    display: inline-block; }
    .nav > li > a {
      display: block;
      color: currentColor; }
      .nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
        text-decoration: none; }
      p .nav > li > a {
        padding: 0;
        margin: 0; }

/*
 * Throws a list into vertical mode.
 */
.nav--stacked > li {
  display: list-item; }

/*
 * Forces a list to occupy 100% of the available width of it's parent.
 */
.nav--fit {
  display: table;
  width: 100%; }
  .nav--fit > li {
    display: table-cell; }

/*
 * Site Header
 */
.siteHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10; }
  @media screen and (max-width: 375px) {
    .siteHeader {
      height: 60px;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

/*
 * Site Brand
 */
.siteBrand {
  height: 100%;
  width: 180px; }
  @media screen and (max-width: 768px) {
    .siteBrand {
      width: 80px; } }
  @media screen and (max-width: 375px) {
    .siteBrand {
      width: 60px;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; } }
  .siteBrand__logo {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .siteBrand__logo {
        padding-left: 40px; } }
  .siteBrand h1 {
    display: none; }

/**
 * Site Footer
 */
.siteFooter--credits {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 80px;
  color: white;
  background-color: #777;
  height: 100vh; }
  @media screen and (max-width: 375px) {
    .siteFooter--credits {
      font-size: .8em; } }
  @media screen and (max-width: 768px) {
    .siteFooter--credits {
      padding-left: 20px;
      padding-right: 20px; } }

.siteFooter a,
.siteFooter a:visited {
  color: #888; }

/*
 * Cover
 */
.Cover {
  background-color: #777;
  width: 100%;
  background-image: url("../assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  padding-top: 120px;
  margin-top: 120px; }
  @media screen and (min-width: 385px) {
    .Cover {
      padding-top: 0;
      margin-top: 80px;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (min-width: 768px) {
    .Cover {
      background-position: 0; } }
  .CoverFeatures {
    padding: 40px;
    color: black;
    background-color: rgba(252, 196, 154, 0.5);
    letter-spacing: -1px;
    text-align: center;
    margin-top: 80px; }
    .CoverFeatures--item {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .CoverFeatures--item:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 20px; }
      .CoverFeatures--item h3 {
        margin-left: 0; }

/*
 * Site Navigation
 */
.siteNavigation {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .siteNavigation .active {
    border-bottom: 5px solid #8B8279; }
  @media screen and (max-width: 375px) {
    .siteNavigation {
      -webkit-order: 4;
      -ms-flex-order: 4;
      order: 4;
      background-color: #F6F5F5;
      width: 100%; } }
  .siteNavigation ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0; }
  .siteNavigation li {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .siteNavigation a {
    color: black;
    padding: 10px;
    height: 100%;
    border-bottom: 5px solid transparent; }
    .siteNavigation a:hover, .siteNavigation a:active, .siteNavigation a:focus, .siteNavigation a.active {
      border-bottom-color: #444; }
    @media screen and (max-width: 375px) {
      .siteNavigation a {
        color: black; } }

/*
 * Post
 */
.Post {
  margin-top: 80px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .Post__title {
    text-align: center;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    font-weight: bold; }
  .PostNav {
    padding-top: 80px;
    padding-bottom: 40px;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .PostNav {
        padding-top: 0; } }
  .PostHeader {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #777;
    padding-top: 40px; }
    @media screen and (max-width: 375px) {
      .PostHeader {
        padding-top: 60px; } }
    .PostHeader__side {
      text-align: center;
      max-width: 375px;
      -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
      flex: 1 50%;
      padding: 40px;
      color: white; }
      @media screen and (max-width: 375px) {
        .PostHeader__side {
          margin-left: 20px;
          margin-right: 20px; } }
      @media screen and (max-width: 768px) {
        .PostHeader__side {
          max-width: 550px;
          padding: 0; } }
      @media screen and (min-width: 1024px) {
        .PostHeader__side {
          max-width: 700px;
          padding-top: 0;
          padding-bottom: 10px; } }
  .PostContent {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #F6F5F5;
    padding-bottom: 40px;
    padding-top: 80px; }
    @media screen and (max-width: 768px) {
      .PostContent {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0; } }
    .PostContent__title {
      max-width: 700px;
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%; }
      @media screen and (max-width: 768px) {
        .PostContent__title {
          text-align: center; } }
    .PostContent figure {
      margin-top: 40px;
      margin-bottom: 80px; }
      @media screen and (max-width: 768px) {
        .PostContent figure {
          margin-top: 0;
          margin-bottom: 20px; } }
    .PostContent p {
      max-width: 700px; }

/*
 * Posts
 */
.Posts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 40px; }
  .Posts__title {
    text-align: center;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%; }
  @media screen and (min-width: 600px) {
    .Posts__item {
      -webkit-flex: 0 47%;
      -ms-flex: 0 47%;
      flex: 0 47%; } }
  .Posts__item figure {
    background-color: #F6F5F5;
    margin-bottom: 20px; }
    @media screen and (min-width: 600px) {
      .Posts__item figure {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; } }
  .Posts__item figcaption {
    -webkit-flex: 1 200px;
    -ms-flex: 1 200px;
    flex: 1 200px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px; }
    .Posts__item figcaption h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px; }

/*
 * Site Product
 * SINGLE PRODUCT
 */
.Product {
  width: 100%;
  padding-top: 80px; }
  @media screen and (max-width: 375px) {
    .Product {
      padding-top: 120px; }
      .Product header img {
        padding-top: 80px; } }
  .ProductSection {
    background-color: #A39F99;
    padding: 40px;
    color: black; }
  .ProductNav {
    margin-left: 40px;
    width: 150px; }
  .ProductList {
    padding-top: 40px;
    background-color: #777;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .ProductList__title {
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%;
      padding-bottom: 40px;
      text-align: center; }
    .ProductList__item {
      -webkit-flex: 1 275px;
      -ms-flex: 1 275px;
      flex: 1 275px;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 40px; }
      @media screen and (min-width: 600px) {
        .ProductList__item {
          margin-left: 0;
          margin-right: 0;
          -webkit-flex: 0 45%;
          -ms-flex: 0 45%;
          flex: 0 45%; } }
    .ProductListDetails {
      background-color: white; }
  .ProductDetail {
    margin-top: 20px;
    background-color: #F6F5F5;
    padding: 20px;
    text-align: center;
    color: #777; }
    .ProductDetail--title {
      letter-spacing: -.5px;
      font-size: 1.3em; }
    .ProductDetail ul {
      list-style: none;
      padding-left: 0; }
    .ProductDetail li {
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex; }
  .Product h2 {
    text-align: center; }

/*
 * Site Products
 * ARCHIVE of PRODUCTS
 */
.Products {
  width: 100%;
  padding-top: 80px; }
  @media screen and (max-width: 375px) {
    .Products {
      padding-top: 120px; } }
  .ProductsNav {
    margin-left: 30px;
    width: 150px; }
  .ProductsHeader {
    max-height: 750px;
    overflow: hidden; }
  .ProductsBreadcrumb {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 120px;
    color: white;
    background-color: #777;
    font-size: 90%; }
    @media screen and (max-width: 768px) {
      .ProductsBreadcrumb {
        height: 80px; } }
    @media screen and (max-width: 375px) {
      .ProductsBreadcrumb {
        padding-top: 10px;
        font-size: 1.7em; }
        .ProductsBreadcrumb .BreadcrumbItem {
          display: none; } }
    @media screen and (min-width: 375px) {
      .ProductsBreadcrumb h1 {
        margin-left: 40px; } }
    .ProductsBreadcrumb a {
      color: #ccc; }
  .ProductsList {
    padding-top: 120px;
    background-color: #777;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .ProductsList {
        padding-top: 80px; } }
    .ProductsList__item {
      -webkit-flex: 1 275px;
      -ms-flex: 1 275px;
      flex: 1 275px;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 80px; }
      @media screen and (max-width: 375px) {
        .ProductsList__item {
          -webkit-flex: 1 275px;
          -ms-flex: 1 275px;
          flex: 1 275px;
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 20px; } }
    .ProductsListDetails {
      margin-top: 80px;
      background-color: white; }
  .ProductsDetails {
    background-color: #444;
    padding: 20px;
    text-align: center;
    color: #ccc; }
    .ProductsDetails ul {
      list-style: none; }
    .ProductsDetails li {
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex; }
  .Products h2 {
    text-align: center; }

/*
 * Video
 */
.Video {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #F6F5F5;
  height: 500px;
  background-image: url("../assets/images/logo-line.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 40%;
  background-attachment: fixed; }
  .Video__title {
    text-align: center;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    margin-bottom: 0; }
  .Video iframe {
    margin-bottom: 0; }
  .Video p {
    display: none; }

/*
 * Marcas
 */
.Marcas {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #F6F5F5;
  padding-top: 40px; }
  .Marcas__title {
    text-align: center;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    margin-bottom: 0; }
  .MarcasItem {
    margin: 0;
    text-align: center; }
    @media screen and (min-width: 600px) {
      .MarcasItem {
        padding-left: 20px;
        padding-right: 20px; } }
    @media screen and (max-width: 375px) {
      .MarcasItem:nth-child(2) {
        margin-right: 20px; } }
  .Marcas li {
    list-style: none; }

/*
 * Contact
 */
.Contact {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 120px; }
  @media screen and (min-width: 666px) {
    .Contact {
      margin-top: 80px; } }
  .Contact--form {
    display: none;
    opacity: 0;
    background-color: rgba(139, 130, 121, 0.9);
    z-index: 100;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px; }
    .Contact--form.active {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      opacity: 1; }
  .ContactHeader {
    width: 100%;
    color: white;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: #444;
    padding-top: 20px;
    padding-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .ContactHeader {
        padding-top: 40px;
        padding-bottom: 40px; }
        .ContactHeader div {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
        .ContactHeader h2 {
          margin-bottom: 0; } }
    .ContactHeader h1 {
      width: 100%;
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%; }
    .ContactHeader h1,
    .ContactHeader h2 {
      font-size: inherit; }
    .ContactHeader h2 {
      font-weight: normal;
      margin-right: 20px; }
  .ContactMapa {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }
    @media screen and (min-width: 768px) {
      .ContactMapa {
        width: 50%;
        -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
        flex: 1 50%; } }
    .ContactMapa figcaption {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px; }
      @media screen and (min-width: 768px) {
        .ContactMapa figcaption {
          padding-top: 26.66667px;
          width: 200px;
          margin-left: 30%; } }
    .ContactMapa img {
      width: 100%; }
  .ContactLocalizacion {
    position: relative;
    -webkit-flex: 1 50%;
    -ms-flex: 1 50%;
    flex: 1 50%;
    height: 200px;
    background-image: url("../assets/images/localizacion.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; }
    @media screen and (min-width: 375px) {
      .ContactLocalizacion {
        background-size: cover; } }
    @media screen and (min-width: 768px) {
      .ContactLocalizacion {
        height: 460px;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        width: 50%;
        -webkit-flex: 0 50%;
        -ms-flex: 0 50%;
        flex: 0 50%; } }
    .ContactLocalizacion h3 {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      background-color: rgba(246, 245, 245, 0.75);
      line-height: 60px;
      z-index: 1; }
      @media screen and (min-width: 768px) {
        .ContactLocalizacion h3 {
          position: absolute;
          width: 220px;
          left: 78%;
          top: 0;
          margin-bottom: 0;
          border-bottom-right-radius: 30px;
          border-bottom-left-radius: 30px;
          border-top-radius: 0;
          line-height: 75px;
          background-color: #F6F5F5; } }
  .ContactDownloads {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
    -webkit-flex: 1 50%;
    -ms-flex: 1 50%;
    flex: 1 50%;
    padding-top: 37px;
    padding-bottom: 40px; }
    .ContactDownloads h3 {
      text-align: center;
      padding-bottom: 10px;
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%; }
  .ContactDepartments {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    padding: 20px;
    margin-bottom: 0;
    background-color: #F6F5F5; }
    .ContactDepartmentsItem {
      width: 100%;
      min-height: 120px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: center;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      border-bottom: 1px solid rgba(68, 68, 68, 0.15); }
      .ContactDepartmentsItem:last-child {
        border-bottom: none; }
      .ContactDepartmentsItem p {
        margin-bottom: 0; }
      .ContactDepartmentsItem h4 {
        -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
        flex: 1 100%; }
      @media screen and (min-width: 768px) {
        .ContactDepartmentsItem {
          -webkit-flex: 1 50%;
          -ms-flex: 1 50%;
          flex: 1 50%;
          padding: 40px; } }

.Languages {
  color: white;
  background-color: transparent;
  border: none;
  margin-right: 40px;
  font-size: .8em; }
  @media screen and (max-width: 768px) {
    .Languages {
      margin-right: 20px; } }
  @media screen and (max-width: 375px) {
    .Languages {
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3; } }

/*
 * Search Form
 */
.Searchform {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }
  @media screen and (max-width: 375px) {
    .Searchform {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; } }
  .Searchform input {
    width: 100px;
    text-align: right; }

/**
 * Print styles - Inlined to avoid another HTTP connection.
 */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  @page {
    margin: 0.5cm; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; }
  a,
  a:visited {
    text-decoration: underline; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  
  .print-hidden {
    display: none; } }
