/**
 * Site Footer
 */

.siteFooter {

  &--credits {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: $spacing_base * 2;
    color: $white;
    background-color: $gray_light;

    @include max-screen($small) {
      font-size: .8em;
    }
    @include max-screen($big) {
      padding-left: $spacing_base / 2;
      padding-right: $spacing_base / 2;
    }
  }

  a,
  a:visited {
    color: #888;
  }
}
