extends ./tpl/layout

prepend nav
    - current = "Home"

block header
    p header

block main
    p "population/site-header.kit"
    p "population/site-cover.kit"
    p "population/video.kit"
    p "organisms/posts.kit"
    p "population/site-footer.kit"
