// =============================================================================
// Project settings
// =============================================================================

// Base Spacing
$spacing_base: 40px;

// Colors
$white: white;
$black: black;
$gray_lighter: #F6F5F5;
$gray_light: #777;
$gray: #ccc;
$gray_dark: #444;
$brand_color1: #8B8279;
$brand_color2: #FCC49A;
$brand_color3: #A39F99;
$brand_color4: #CD5A40;

$arkitmobel: #B60050;
$habitdesign: #E1D1AD;
$bricohabitat1: #9C2E83;
$bricohabitat2: #A9D051;

// Breakpoints
$tiny: 275px;
$small: 375px;
$small-x: 480px;
$medium: 578px;
$medium-x: 667px;
$big: 768px;
$huge: 1024px;
$colosal: 1440px;
$cosmic: 1860px;


// Reading direction of this project, if set to 'rtl' - texts, labels
// and the grid will be aligned to the right side of the document.
$direction: ltr !default;

// Base directory for all images.
$image-base-path: '../Images/' !default;

// =============================================================================
// Brand related variables
// =============================================================================
// All brand colors, for each of these keys, a utility color-class will be generated.
// f.e. `.u-brandColor-primary { color: #0097d7; }`
$brand-colors: (
      primary: #777,
      secondary: red
)  !default;

// The main brand font-family
$brand-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

// If the CD makes use of rounded corners, use this variable for consistency.
$brand-border-radius: 2px !default;

// If you want to use the image-replacement technique for your brand logo,
// set the 'image' key to the image-name of your brand logo e.g.:
// $brand-logo: (image: 'logo.png', width: 200px, height: 200px);
//
// Be aware that you need to specify the dimensions of your logo, otherwise it won't be displayed.
$brand-logos: (
        default: (
                image: 'BrandLogo.svg',
                width: 200px,
                height: 100px
        )
) !default;

// =============================================================================
// Base Typesetting
// =============================================================================
// The webfont font-family stack of the project. Each Sass-Map represents a different font-family with it's unique style and weight.
// F.e.
// $webFonts:
// (group: 'ff-din', id: 'condensed-light', font: ('FF-Din W01 Condensed Light', san-serif ), weight: 200, style: normal),
// (group: 'ff-din', id: 'light-italic', font: ('FF-Din W01 Light Italic', san-serif ), weight: 200, style: italic);
// After defining your font-stack, you can access your webfonts via the 'webFont' @mixin.
$webFonts: false;

// Font-family stack variables to standardize the font-setting
$sans-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$serif-font-family: Georgia, 'Times New Roman', Times, serif !default;
$mono-font-family: Menlo, Monaco, Consolas, 'Courier New', monospace !default;

// The font-weights below are used to emphasize written words instead of numbers in your Sass.
$bold: 700 !default;
$regular: 400 !default;
$light: 300 !default;
$thin: 100 !default;

// Base font settings which will be set on the '<body>' element,
// '$base-font-size' and '$base-line-height' are pixel values.
$base-font-size: 18;
$base-line-height: 26;
$base-font-family: $sans-font-family;
$base-font-weight: $regular;
$base-text-color: #787878;

// Typographic spacings (in pixels), these default values will
// output a basic vertical rythm based on your '$base-line-height'.
$basic-spacing: $base-line-height;
$half-spacing: $basic-spacing / 2;

// =============================================================================
// Layout
// =============================================================================
// Basic layout width (in pixels) - will be set on the '.siteWrapper' class
// The value is wrapped in the relative-size function which converts pixels into em's.
$layout-width: 80%;
$layout-max-width: rs(1200);

// If this boolean is set to 'true' the '.siteWrapper' class will be horizontally centered.
$centered-layout: true;

// Inner spacing for all grid-items.
$column-gutter: 20px;

// The background which will be set on the <body> element.
$body-background: #fff;

// Used to generate some colors, this doesn't have any direct effect on
// the .siteContent container or it's background.
$content-background: #fff;

// Z-Index Masterlist, describe your z-index'es here, and use the z() function in your Sass files.
// F.e: z-index: z('myElement');
$zIndexes: (
        // myElement: 1000
);

// =============================================================================
// Responsive related variables
// =============================================================================
// Switching this boolean to 'false' will result in fewer width classes,
// generated from the following Sass-Map.
$is-responsive: true;

// Breakpoints, each breakpoint is accessible via the mq('myKey') @mixin
// and will output the written rules inside a media-query declaration.
$mq-breakpoints: (
        medium: (
                query: 'screen and (min-width: 600px)',
                classNameShorthand: 'm'
        ),
        large: (
                query: 'screen and (min-width: 1200px)',
                classNameShorthand: 'l'
        )
);

// Default unit for media-query mixins(min-screen(), max-screen(), screen()) - it must include a digit e.g.:
// $mq-unit: 1em; or $mq-unit: 1px;
$mq-unit: 1px;

// =============================================================================
// Design related variables
// =============================================================================
// Transition duration.
$transition-duration: .3s;

// Default color for all anchors and links.
$link-color: map-get($brand-colors, primary);

// Default color for all buttons.
$btn-color: map-get($brand-colors, primary) !default;

// Mood and action colors used on buttons, alerts and other actions.
$color-info: map-get($brand-colors, primary) !default;
$color-positive: #8CD700 !default;
$color-negative: #D75200 !default;

// Default styling for horizontal rules and bordered elements like tables.
$basic-border-color: color-adjust($content-background, 10%) !default;
$basic-border-style: solid !default;
