footer.siteFooter
    block footer
        aside.Marcas
            h3.Marcas__title #{PageTitle}
            li.MarcasItem
                a(href="#" class="")
                    svg(class="icon  iconArkit")
                        use(xlink:href="assets/icons.svg#icon-cor")
            li.MarcasItem
                a(href="#" class="")
                    svg(class="icon  iconHabit")
                        use(xlink:href="assets/icons.svg#icon-cor")
            li.MarcasItem
                a(href="#" class="")
                    svg(class="icon  iconBrico")
                        use(xlink:href="assets/icons.svg#icon-cor")

        main.siteFooter--credits
            p &copy; #{new Date().getFullYear()}
            small #{PageTitle}
            p #{AuthorBrief}

            include ../components/_contact

        div(class="scrollToTop" onclick="scrolltop();")
