//
    Site Footer
footer.site__footer
    block footer
        p.site__footer__credits #{PageTitle}
            | &copy; #{new Date().getFullYear()}
            | <small>Site by </small>
            svg.icon-logo_sf
                use(xlink:href="assets/img/icons.svg#icon-logo")
