mixin navmenu(menu_items)
    nav.siteNavigation(role="navigation")
        ul
            each item in menu_items
                if item.title == current
                    li( class=[ '', '', 'active' ])
                        a( href = item.link )
                            =item.title
                else
                    li( class=[ '', '' ])
                        a( href=item.link )
                            =item.title
        //- input(type="button", id="hamenu", class="btn btn--hamenu", value="Menu")

+navmenu([
    { 'title': 'Home',  'link': './index.html'},
    { 'title': 'About',  'link': 'about.html'},
    { 'title': 'Posts',  'link': '/posts.html'},
    { 'title': 'Products',  'link': '/products.html'},
    { 'title': 'Contacto',  'link': '/contacto.html' }
])
